/* CARDS STYLE */
.cards-blocks {
    display: flex;
}

.cards-blocks a:link {
    text-decoration: none;
}

.cards-blocks a:visited {
    color: black;
}

.cards-blocks a:link {
    color: black;
}

/* LODGING */
.lodging {
    margin: 20px 0px 0px 40px;
    background-color: #F2F2F2;
    height: 625x;
    width: 880px;
    border-radius: 25px 25px 25px 25px;
}

.lodging h2 {
    margin-left: 35px;
}

.cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.cards-element {
    background-color: white;
    height: 199px;
    width: 246px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 5px grey;
}

.cards-img {
    object-fit: cover;
    height: 65%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

.cards-title {
    margin: 0;
    padding-left: 15px;
}

.cards-subtitle {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 15px;
}

.display-more {
    margin: 50px 0px 0px 40px;
}

/* POPULARS */

.populars-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populars-title-box  i {
    margin: 10px 40px 0px 0px;
}

.populars {
    margin: 20px 0px 0px 40px;
    background-color: #F2F2F2;
    height: 625px;
    width: 420px;
    border-radius: 25px 25px 25px 25px;
}

.populars h2 {
    margin-left: 35px;
}

.populars-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
}

.p-cards-element {
    display: flex;
    background-color: white;
    height: 144px;
    width: 343px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 5px grey;
    padding-right: 20px;
    
}

.p-cards-element .stars {
    margin-top: 20px;
}

.p-cards-img {
    object-fit: cover;
    height: 100%;
    width: 40%;
    border-radius: 25px 0px 0px 25px;
    padding: 5px;
}

.p-cards-title {
    margin: 0;
    padding-left: 15px;
}

.p-cards-subtitle {
    margin-top: 5px;
    padding-left: 15px;
}

.p-cards-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* STARS */

.stars {
    margin-left: 15px; 
    color: #0065FC;
}

.grey-stars {
    color: #F2F2F2;
}