@media screen and (min-width: 992px) and (max-width: 1324px) {
    .activities-box {
        margin: 0;
        gap: 20px;
        width: 100%;
        justify-content: center;
    }

    .act-box-col {
        width: 100%;
        align-items: center;
    }

    .activities-box h4 {
        margin-top: 35px;
    }

    .activities-element-l {
        height: 300px;
        width: 90%;
    }

    .a-cards-img-l {
        height: 70%;
    }

    .activities-element-m {
        height: 300px;
        width: 90%;
        margin-bottom: 20px;
    }

    .a-cards-img-m {
        height: 70%;
    }

    .activities-element-xs {
        height: 300px;
        width: 90%;
    }

    .a-cards-img-xs {
        height: 70%;
    }

    .activities-element-ms {
        height: 300px;
        width: 90%;
        margin-bottom: 20px;
    }

    .a-cards-img-ms {
        height: 70%;
    }

    .activities-element-sm {
        height: 300px;
        width: 90%;
    }

    .activities-img-sm {
        height: 70%;
    }
}