@media screen and (max-width: 768px) {

    /* HEADER_MOBILE */

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px 0px 0px 0px;
    }

    header img {
        margin: auto;
        padding-left: 25px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    /* NAV_MOBILE */
    
    nav {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 30px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: solid 3px #d9d9d9; 
    }

    nav li {
        width: 100%;
    }

    nav a {
        padding: 0;
        margin-right: 62px;
        margin-left: 30px;
        padding-bottom: 10px;
    }

    nav a:hover {
        border-bottom: solid 3px #0065FC;
        border-top: none;
    }

    /* SEARCH_MOBILE */

    .title {
        display: flex;
        flex-wrap: wrap;
    }

    .title h2 {
        margin-bottom: 10px;
    }

    .search {
        margin-top: 25px;
    }

    .search-button {
        width: 50px;
        border-radius: 13px 13px 13px 13px;
    }

    .search-button p {
        display: none;
    }

    .search-button i {
        display: contents;
    }

    .research {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;
    }

    .search-bar {
        width: 230px;
        border-right: 0;
    }

    /* FILTER_MOBILE */

    .filter-box {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .filter-title {
        display: flex;
        margin-top: 5px;
        width: 100%;
    }

    .filter {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
    }

    .element-filter {
        margin-bottom: 15px;
    }

    .element-filter:nth-child(1) {
        order: 1;
    }
    
    .element-filter:nth-child(2) {
        order: 4;
    }

    .element-filter:nth-child(3) {
        order: 2;
    }

    .element-filter:nth-child(4) {
        order: 3;
    }

    .lodging-blocks {
        display: flex;
        flex-direction: column;
    }

    /* POPULARS */
    
    .cards-blocks {
        flex-direction: column-reverse;
    }
}
