* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 52px;
}

header img {
    height: 45px;
    margin: 0px 0px 0px 15px;
}

/* NAV */

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 53px;
}

nav a:hover {  
    border-top: solid 3px #0065FC;
}

/* SEARCH BAR */ 

#research {
    margin-left: 50px;
}

h2 {
    margin: 33px 0px -7px 0px;
    font-size: 22px;
}

#subtitle {
    margin-bottom: 0;
}

#search {
    display: flex;
    align-items: center;
}

#search-bar {
    height: 50px;
}

#search-button {
    color: whitesmoke;
    background-color: #0065FC;
    font-size: 16px;
    font-weight: 650;
    height: 50px;
    width: 125px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
}

form input[type=text] {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-color: #F2F2F2;
    border-style: solid;
}

input {
    height: 44px;
    width: 217px;
}

form i {
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 25px;
}

.input-left-icon-container {
    background-color: #F2F2F2;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}

/* FILTER */

.element-filter {
    display: flex;
}

#filter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

#filter p {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

#filter i {
    color: #0065FC;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

.input-left-icon-filter-container {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50% 50% 50% 50%;
}

.button-filter input {
    background-color: white;
    border-color: #F2F2F2;
    border-style: solid;
    font-size: 16px;
    font-weight: 650;
    height: 50px;
    width: 157px;
    margin-left: 25px;
    border-radius: 0px 25px 25px 0px;
}

#research-title {
    display: flex;
    align-items: center;
}

#research-title i {
    color: #0065FC;
    margin-right: 15px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}