* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 52px;
}

header img {
    height: 45px;
    margin-left: 15px;
}

/* NAV */

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 53px;
}

nav a:hover {  
    border-top: solid 3px #0065FC;
}

/* SEARCH BAR */ 

.research {
    margin-left: 50px;
}

h2 {
    margin-top: 33px;
    font-size: 22px;
}

.subtitle {
    margin-bottom: 0;
    margin-top: 7px;
}

.search {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 50px;
}

.search-button {
    color: whitesmoke;
    background-color: #0065FC;
    font-size: 16px;
    font-weight: 650;
    height: 50px;
    width: 125px;
    padding-bottom: 50px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    text-decoration: none;
    text-align: center;
}

.search-button i {
    display: none;
}

form input[type=text] {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-color: #F2F2F2;
    border-style: solid;
}

input {
    height: 44px;
    width: 217px;
}

form i {
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 25px;
}

.input-left-icon-container {
    background-color: #F2F2F2;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}

/* FILTER */

.filter-box {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.filter * {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.filter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

.filter-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.filter i {
    color: #0065FC;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.element-filter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-left: 0;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    width: auto;
}

.input-left-icon-filter-container {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50% 50% 50% 50%;
}

.search-result {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.search-result i {
    color: #0065FC;
}

.info-icon {
    border: 1px solid #d9d9d9;
    height: 23px;
    width: 23px;
    border-radius: 50px 50px 50px 50px;
    padding-top: 1px;
    margin-right: 10px;
    text-align: center;
}

/* LODGING */

.lodging-blocks {
    display: flex;
}

.lodging {
    margin: 20px 0px 0px 40px;
    background-color: #F2F2F2;
    height: 550px;
    width: 64%;
    border-radius: 25px 25px 25px 25px;
}

.lodging-box {
    margin-left: 40px;
}

.populars {
    margin: 20px 0px 0px 40px;
    background-color: #F2F2F2;
    height: 550px;
    width: 30%;
    border-radius: 25px 25px 25px 25px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

    * {
        margin: 0;
    }   

    /* HEADER_MOBILE */

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px 0px 0px 0px;
    }

    header img {
        margin: auto;
        padding-left: 25px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    /* NAV_MOBILE */
    
    nav {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: solid 3px #d9d9d9; 
    }

    ul {
        padding-inline-start: 0; 
    }

    nav li {
        width: 100%;
    }

    nav a {
        padding: 0;
        margin-right: 62px;
        margin-left: 30px;
        padding-bottom: 10px;
    }

    nav a:hover {
        border-bottom: solid 3px #0065FC;
        border-top: none;
    }

    /* SEARCH_MOBILE */

    .title {
        padding-right: 50px;
    }

    .title h2 {
        margin-bottom: 10px;
    }

    .search {
        margin-top: 35px;
    }

    .search-button {
        width: 50px;
        border-radius: 10px 10px 10px 10px;
    }

    .search-button p {
        display: none;
    }

    .search-button i {
        display: contents;
    }

    .research {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;
    }

    .search-bar {
        width: 260px;
        border-right: 0;
    }

    /* FILTER_MOBILE */

    .filter-box {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .filter-title {
        display: flex;
        margin-top: 25px;
        width: 100%;
    }

    .filter {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
    }

    .element-filter {
        margin-bottom: 15px;
    }

    .element-filter:nth-child(1) {
        order: 1;
    }
    
    .element-filter:nth-child(2) {
        order: 4;
    }

    .element-filter:nth-child(3) {
        order: 2;
    }

    .element-filter:nth-child(4) {
        order: 3;
    }

    .lodging-blocks {
        display: flex;
        flex-direction: column;
    }
}
