@font-face {
    font-family: "Raleway";
    src: url(font/Raleway-VariableFont_wght.ttf) format('truetype');
}

body {
    font-family: "Raleway", serif;
}

.box {
    max-width: 100%;
    margin: 50px; 
    box-sizing: border-box;
}

/* HEADER */

#logo {
    max-width: 90px;
}

#nav {
    display: flex;
    justify-content: flex-end;
}